In [20]:
import pandas as pd
import numpy as np
import pickle
import os

In [21]:
def getNormed(this_array, this_min = 0, this_max = 255, set_to_int = True):
    new_var = this_array.copy()
    rat = (this_max - this_min)/(new_var.max() - new_var.min())
    new_var = new_var * rat
    new_var -= new_var.min()
    new_var += this_min
    if set_to_int:
        return new_var.astype('uint8')
    return new_var

In [22]:
#train = pd.read_csv('/Users/amalalmansour/Desktop/New_Images/Malignancy/train.csv')
train = pd.read_csv('/Users/amalalmansour/Desktop/New_Images/Spiculation/Train.csv')
len(train)

582

In [23]:
#test = pd.read_csv('/Users/amalalmansour/Desktop/New_Images/Malignancy/test.csv')
test = pd.read_csv('/Users/amalalmansour/Desktop/New_Images/Spiculation/Test.csv')
len(test)

145

In [24]:
train_nodIds = train['noduleID']
test_nodIds = test['noduleID']

In [25]:
train_nodIds = np.array(train_nodIds)
test_nodIds = np.array(test_nodIds)

In [26]:
# collect all images for training
image_folder = '/Users/amalalmansour/Desktop/images_1332'
train_images = []
test_images = []
train_noduleId = []
test_noduleId = []
print(image_folder)

for dir1 in os.listdir(image_folder):
    print(dir1)
    if not dir1.startswith('.'):
        for file in os.listdir(os.path.join(image_folder, dir1)):
            #print(file)
            noduleID = file.split('.')[0]
            if not file.startswith('.'):
                noduleID = int(noduleID)
                if noduleID in train_nodIds:
                    train_noduleId.append(noduleID)
                    temp_image = np.loadtxt(os.path.join(image_folder, dir1,file))
                    temp_image = getNormed(temp_image)
                    #enlarged_img = getSamePadding(temp_image)
                    temp_image = temp_image.flatten()
                    train_images.append(temp_image)
            
                if noduleID in test_nodIds:
                    test_noduleId.append(noduleID)
                    temp_image = np.loadtxt(os.path.join(image_folder, dir1,file))
                    temp_image = getNormed(temp_image)
                    temp_image = temp_image.flatten()
                    #enlarged_img = getSamePadding(temp_image)
                    test_images.append(temp_image)

/Users/amalalmansour/Desktop/images_1332
.DS_Store
Malignancy_2
Malignancy_5
Malignancy_4
Malignancy_3
Malignancy_1

In [27]:
tr_df = pd.DataFrame(train_noduleId,columns =['noduleID'])
print(tr_df)

     noduleID
0        2412
1        2374
2         471
3        1907
4        1496
..        ...
577       440
578       657
579      2609
580       904
581       290

[582 rows x 1 columns]

In [28]:
te_df = pd.DataFrame(test_noduleId,columns =['noduleID'])
print(te_df)

     noduleID
0        1252
1        1497
2        2564
3        2558
4        1958
..        ...
140      2421
141      1869
142      1698
143       643
144      2594

[145 rows x 1 columns]

In [29]:
df = pd.read_csv("/Users/amalalmansour/Desktop/New_Images/LIDC_LabelANDRating.csv")
display(df)

      noduleID  InstanceID  Binary_Rating_Mal  Binary_Rating_Spic
0            1           4                  1                   3
1            5         118                  3                   0
2            3         134                  3                   3
3            4         143                  3                   3
4            6         175                  0                   0
...        ...         ...                ...                 ...
1327      2655       40771                  3                   0
1328      2657       40780                  1                   3
1329      2656       40794                  1                   3
1330      2658       40801                  3                   3
1331      2660       40860                  0                   0

[1332 rows x 4 columns]

In [30]:
train_slices = pd.merge(tr_df, df)
display(train_slices)

     noduleID  InstanceID  Binary_Rating_Mal  Binary_Rating_Spic
0        2412       36785                  0                   0
1        2374       36253                  3                   0
2         471        6853                  3                   0
3        1907       29039                  3                   0
4        1496       22427                  0                   0
..        ...         ...                ...                 ...
577       440        6517                  0                   0
578       657        9498                  3                   0
579      2609       39936                  0                   0
580       904       13301                  0                   0
581       290        4296                  0                   0

[582 rows x 4 columns]

In [31]:
test_slices = pd.merge(te_df, df)
display(test_slices)

     noduleID  InstanceID  Binary_Rating_Mal  Binary_Rating_Spic
0        1252       18823                  3                   0
1        1497       22434                  3                   0
2        2564       39328                  0                   1
3        2558       39203                  3                   0
4        1958       29602                  0                   0
..        ...         ...                ...                 ...
140      2421       36955                  0                   0
141      1869       28376                  0                   0
142      1698       25416                  0                   0
143       643        9251                  0                   0
144      2594       39806                  0                   0

[145 rows x 4 columns]

In [32]:
train_images = np.array(train_images)
print(len(train_images))
test_images = np.array(test_images)
print(len(test_images))

582
145

In [33]:
output_file1 = '/Users/amalalmansour/Desktop/train_spic_images.csv'
np.savetxt(output_file1, train_images, fmt= '%s', delimiter=',')

In [34]:
output_file2 = '/Users/amalalmansour/Desktop/test_spic_images.csv'
np.savetxt(output_file2, test_images, fmt= '%s', delimiter=',')

In [35]:
output_file3 = '/Users/amalalmansour/Desktop/train_noduleId.csv'
np.savetxt(output_file3, train_noduleId, fmt= '%s', delimiter=',')

In [36]:
output_file4 = '/Users/amalalmansour/Desktop/train_slices.csv'
np.savetxt(output_file4, train_slices, fmt= '%s', delimiter=',')

In [37]:
output_file5 = '/Users/amalalmansour/Desktop/test_noduleId.csv'
np.savetxt(output_file5, test_noduleId, fmt= '%s', delimiter=',')

Test Pixel ---> all pixels values for the validation data

TrainPixel   --> all pixel values for testing data

In [38]:
train = pd.read_csv('/Users/amalalmansour/Desktop/train_spic_images.csv')

In [39]:
display(train)

,9,7,5,7.1,16,24,21,18,21.1,23,...,148.43,145.48,147.46,153.12,155.16,160.7,158.13,153.13,154.24,152.26
0,3,2,3,4,3,4,5,6,6,5,...,82,83,85,85,87,90,92,92,92,91
1,13,24,18,8,7,8,8,8,8,8,...,221,253,221,222,215,198,210,232,219,180
2,56,74,97,113,127,145,151,148,158,163,...,15,17,15,13,12,10,13,14,9,12
3,143,145,142,146,154,154,151,163,161,173,...,13,11,10,11,13,16,19,15,12,11
4,165,158,156,160,161,158,160,161,160,162,...,15,19,19,17,30,47,38,21,20,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576,89,84,95,95,95,80,103,101,87,80,...,70,88,75,81,82,71,77,76,75,77
577,17,13,15,19,14,16,32,44,38,23,...,20,12,12,15,15,22,23,16,15,21
578,126,103,111,129,106,113,103,100,111,103,...,10,14,16,12,8,5,13,20,9,15
579,10,11,11,8,9,9,10,9,8,8,...,45,48,51,54,56,59,63,68,71,75
580,4,5,5,6,5,5,6,6,5,7,...,89,88,87,89,91,90,87,91,91,88

In [51]:
filepath ='/Users/amalalmansour/Desktop/New_Images/Malignancy/Siamese/instanceID_Pairs/'

In [55]:
dfPos = pd.read_csv(filepath + "TestPosPairs.csv")
dfNeg = pd.read_csv(filepath + "TestNegPairs.csv")

In [56]:
len(dfPos)

2798

In [57]:
len(dfNeg)

4512

In [ ]:
dfPos1 = dfPos[0:20000]
dfNeg1 = dfNeg[0:20000]
len(dfPos1)

In [ ]:
dfPos2 = dfPos[20000:40000]
dfNeg2 = dfNeg[20000:40000]
len(dfPos2)

In [ ]:
dfPos3 = dfPos[40000:60000]
dfNeg3 = dfNeg[40000:60000]
len(dfPos3)

In [ ]:
dfPos4 = dfPos[60000:80000]
dfNeg4 = dfNeg[60000:80000]
len(dfNeg4)

In [ ]:
dfPos5 = dfPos[80000:85312]
dfNeg5 = dfNeg[80000:85312]
len(dfNeg5)

In [ ]:
dfPos6 = dfPos[100000:120000]
dfNeg6 = dfNeg[100000:120000]
len(dfNeg6)

In [ ]:
dfPos7 = dfPos[120000:140000]
dfNeg7 = dfNeg[120000:140000]
len(dfNeg7)

In [ ]:
dfPos8 = dfPos[140000:160000]
dfNeg8 = dfNeg[140000:160000]
len(dfNeg8)

In [ ]:
dfPos9 = dfPos[160000:180000]
dfNeg9 = dfNeg[160000:180000]
len(dfNeg9)

In [ ]:
dfPos10 = dfPos[180000:200000]
dfNeg10 = dfNeg[180000:200000]
len(dfNeg10)

In [ ]:
dfPos11 = dfPos[200000:220000]
#dfNeg11 = dfNeg[200000:220000]
#len(dfNeg11)

In [ ]:
dfPos12 = dfPos[220000:237656]
#dfNeg12 = dfNeg[220000:240000]
#len(dfPos12)

In [ ]:
dfPos13 = dfPos[240000:246776]
dfNeg13 = dfNeg[240000:246776]
#len(dfPos13)

In [ ]:
dfPos14 = dfPos[260000:280000]
#dfNeg14 = dfNeg[260000:280000]
#len(dfPos14)

In [ ]:
dfPos15 = dfPos[280000:300000]
#dfNeg15 = dfNeg[280000:300000]
#len(dfPos15)

In [ ]:
dfPos16 = dfPos[300000:320000]
#dfNeg16 = dfNeg[300000:320000]
#len(dfPos16)

In [ ]:
dfPos17 = dfPos[320000:340000]
#dfNeg17 = dfNeg[320000:340000]
#len(dfPos17)

In [ ]:
dfPos18 = dfPos[340000:360000]
#dfNeg18 = dfNeg[340000:360000]

In [ ]:
dfPos19 = dfPos[360000:380000]
#dfNeg19 = dfNeg[360000:380000]
#len(dfPos19)

In [ ]:
dfPos20 = dfPos[380000:400000]
#dfNeg20 = dfNeg[380000:400000]
#len(dfPos20)

In [ ]:
pairs = []
labels = []
instanceID = []

print("create pairs running ...")

In [ ]:
#my computer would only let me run 20,000 before the memory filled up 
for i in range(5312):

    pos0 = dfPos5.iloc[i][0]
    pos1 = dfPos5.iloc[i][1]
    neg0 = dfNeg5.iloc[i][0]
    neg1 = dfNeg5.iloc[i][1]
    
    instanceID +=  [(pos0, pos1),(neg0, neg1)]
    
    # locate the image pairs
    pos0Arr = (train.loc[train['instanceID']==pos0])
    pos1Arr = (train.loc[train['instanceID']==pos1])
    neg0Arr = (train.loc[train['instanceID']==neg0])
    neg1Arr = (train.loc[train['instanceID']==neg1])

    # We get the images from the pairs 
    pos0Arr = pos0Arr.drop(['instanceID'],  axis=1)
    pos1Arr = pos1Arr.drop(['instanceID'],  axis=1)
    neg0Arr = neg0Arr.drop(['instanceID'],  axis=1)
    neg1Arr = neg1Arr.drop(['instanceID'],  axis=1)
    
    pos0Arr = pos0Arr.to_numpy().reshape(-1, 71, 71)
    pos1Arr = pos1Arr.to_numpy().reshape(-1, 71, 71)
    neg0Arr = neg0Arr.to_numpy().reshape(-1, 71, 71)
    neg1Arr = neg1Arr.to_numpy().reshape(-1, 71, 71)

    POS0 = pos0Arr[0]
    POS1 = pos1Arr[0]
    NEG0 = neg0Arr[0]
    NEG1 = neg1Arr[0]

    pairs += [(POS0, POS1)]
    pairs += [(NEG0, NEG1)]
    labels += [1, 0]
  
print("create pairs DONE")

In [ ]:
pickle_out = open("/Users/amalalmansour/Desktop/New_Images/Spiculation/Siamese/pickle/TrainLabels5.pickle", "wb")
pickle.dump(labels, pickle_out)
pickle_out.close()

In [ ]:
pickle_out1 = open("/Users/amalalmansour/Desktop/New_Images/Spiculation/Siamese/pickle/TrainPairs5.pickle", "wb")
pickle.dump(pairs, pickle_out1)
pickle_out1.close()

In [ ]:
pairs = []
labels = []
instanceID = []